.fill-space {
    height: 100% !important;
    width: 100% !important;
}

.ful-width {
    width: 100% !important;
}

.full-height {
    height: 100% !important;
}

.table {
    display: table !important;
}

.inline-table {
    display: inline-table !important;
}

.table-center {
    display: table-cell !important;
    vertical-align: middle !important;
    text-align: center !important;
}

.font-20 {
    font-size: 20px !important
}

.center {
    text-align: center !important;
}