body {
    margin: 0px;
    padding: 0px;
    background-color: #000000 !important;
}

.box {
    height: 150px;
    font-size: 25px !important;
    min-width: 200px;
    max-width: 200px;
    margin: 20px;
    display: inline-block !important;
}

#addBoxes {
    width: 100%;
    display: inline-block;
    text-align: center;
    /*background: rgba(255, 255, 255, 0.5);*/
}

#pinBoxes {
    /*    width: 100%;*/
    /*    display: inline-block;*/
    
    text-align: center !important;
    /*background:black;*/
}

.bar {
    display: block;
    padding: 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
}

#pin-setup {
    text-align: center;
}

.fill-space {
    height: 100% !important;
    width: 100% !important;
}

.ful-width {
    width: 100% !important;
}

.full-height {
    height: 100% !important;
}

.table {
    display: table !important;
}

.inline-table {
    display: inline-table !important;
}

.table-center {
    display: table-cell !important;
    vertical-align: middle !important;
    text-align: center !important;
}

.font-20 {
    font-size: 20px !important
}

.center {
    text-align: center !important;
}